
<div class="titulo">
    <h1>Lederson Fabian Quitian Santofimio</h1>
    </div>
    
    <h2>Peoplesoft Developer</h2>
        
    <div>
      <img id="foto" src="/assets/img/usuario.svg" alt="foto" width="150" height="200">
    </div>
    
    <div class="datos">
      
        <ul>
            <li> 3106809423</li>
            <li> lederson92@gmail.com </li>
            <li> Bogotá - Colombia </li>
        </ul>
    </div>
    
    <div class="redes">
          <a href="https://www.linkedin.com/in/lederson-quitian-a453521b2">
            <img src="assets/img/linkedin.png" alt="linkedin" width="38" height="38">
          </a>
          <a href="https://github.com/VManuelPM?tab=repositories">
            <img src="assets/img/github.png" alt="github" width="38" height="38">
          </a>
    </div>
    
    
    <section class="perfil">
      <h2>Perfil</h2>
      <p>
        Ingeniero de Sistemas con experiencia y habilidades en implementación de proyectos ORACLE PEOPLESOFT en sus diferentes suites: FSCM, HCM, CS, CRM.
        Desarrollador de PeopleSoft con amplia experiencia en el diseño, desarrollo y personalización de aplicaciones utilizando la suite de software PeopleSoft. Experto en el uso de herramientas como PeopleTools, PeopleCode y Component Interface. Poseo sólidos conocimientos en el manejo de bases de datos relacionales y SQL. Mi enfoque se centra en la entrega de soluciones eficientes y adaptadas a las necesidades específicas de las organizaciones. Habilidades destacadas incluyen el análisis de requisitos, resolución de problemas y trabajo en equipo para lograr resultados exitosos en proyectos complejos. Con un enfoque orientado a la calidad y la mejora continua, tengo un historial probado en el desarrollo y mantenimiento de aplicaciones PeopleSoft de alto rendimiento.
      </p>
    </section>