<div class="banner">Historial de empleo</div>
<div class="experiencia">

    <div>
        <p>
            May, 2017-Present
            <span>(Bogotá Colombia)</span>
        </p>
    </div>
    <div>
        <p>
            Empresa: Colombiana de Comercio
        </p>
        <span>Technical Consultant</span>
        <ul>
            <li>Desarrollo e implementación flujo de Facturación electrónica versiones 2.0 y 2.1 en modulo BI.</li>
            <li>Desarrollo e implementación de Integraciones, servicios web.</li>
            <li>Construcción de CI, Excel to CI, File Layout, App Engine Programs para diferentes requerimientos estipulados por el negocio</li>
            <li>Mejoras y resolución de incidentes en reportes y procesos existentes SQR.</li>
            <li>Construcción de nuevos reportes BI Publisher y mejoras en reportes existentes, estándar y personalizados.</li>
            <li>Soporte de Modulo OM y BI.</li>
        </ul>
    </div>
    <div>
        <p>
            Enero-Noviembre, 2017
            <span>(Bogotá Colombia)</span>
        </p>
    </div>
    <div>
        <p>
            Empresa: Universidad Javeriana
        </p>
        <span>Technical Consultant</span>
        <ul>
            <li>Localizaciones en FSCM, AP, AR, KK, BI.</li>
            <li>Mejoras y resolución de incidentes en reportes y procesos existentes SQR.</li>
            <li>Desarrollos de localización para contratación e impresión de contratos en datos de puesto HCM.</li>
            <li>Controles de cambio sobre integraciones para novedades en datos de puesto.</li>
        </ul>
    </div>
</div>