<div class="wrap-inferior">

    <div class="educacion">
        <div class="banner">Educación</div>
        <ul>
            <li>
                Fundación universitaria unipanamericana
                <span>Ingeniero de Sistemas</span>
                <span>Bototá, 2014</span>
            </li>
            <h1> </h1>
            <li>
                PeopleSoft Application Developer I: PeopleTools & PeopleCode
                <span>Certificación Peoplesoft</span>
                <span>28 de Julio de 2017</span>
            </li>
        </ul>
    </div>  
</div>