<script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>


<div class="container">

  <div class="lateral">
    <app-lateral></app-lateral>
  </div>

  <div class="centro">
    <div class="c-superior">
      <app-centro-superior></app-centro-superior>
    </div>

    <div class="c-inferior">
      <app-centro-inferior></app-centro-inferior>
    </div>
  </div>
</div>

<div>Corporación Universitaria Minuto de Dios, UNIMINUTO</div>
<div>Especialización en desarrollo de software</div>
<div>Desarrollo de Aplicaciones Web NRC-696 - Semana 2</div>
<div>Lunes 22 de Mayo 2023 </div>
 